

$color-white: #fff;
$color-black: #000;
$color-yellow: yellow;
$color-green: rgba(0, 61, 8, 0.9);
$color-red: red;
$color-blue: rgb(7, 64, 121);
$color-purple: purple;

* {
	box-sizing: border-box;
}
body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	background: $color-black;
}
.maze {
	width: 1140px;
	height: 1290px;
	background: $color-white;
	position: relative;
	top: 50px;
	margin: 0 0 50px 375px;
	font-family: "Open Sans", "arial";
	outline: 3px solid dodgerblue;
}
.maze-container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

/** Maze Labels **/
.maze-labels {
	position: fixed;
	z-index: 250;
	background: $color-white;
	left: 350px;
	bottom: 25px;
	padding: 15px;
	outline: 3px solid dodgerblue;
	width: 300px;
}
.maze-labels--stats {
	left: 25px;
	top: 50px;
}
.maze__label {
	display: block;
	margin: 0 0 .25em 0;
	font-weight: 600;
}
.maze__label--heading {
	font-size: 1.125rem;
	text-align: center;
	margin: 0 0 .5em 0;
}
.maze__label--count {
	display: inline-block;
}
.maze__label--color {
	display: inline-block;
	margin: 0 10px;
	padding: 15px;
	color: $color-white;
}
.maze-button {
	box-shadow: none;
	background: none;
	border: 1px solid $color-black;
	border-radius: 4px;
	text-align: center;
	display: inline-block;
	color: $color-white;
	font-weight: 700;
	transition: .2s ease-in all;
	margin: 10px 0;
	padding: .5em;
	width: calc(100% - 30px);
	font-size: 1.125rem;
	cursor: pointer;
	&.background--green {
		&:hover,&:focus {
			box-shadow: 0 0 3px 3px $color-green;
			color: $color-green;
			background: $color-white;
		}
	}
	&.background--red {
		&:hover,&:focus {
			box-shadow: 0 0 3px 2px $color-red;
			background: $color-white;
			color: $color-red;
		}
	}
	&.background--blue {
		&:hover,&:focus {
			box-shadow: 0 0 3px 2px $color-blue;
			background: $color-white;
			color: $color-blue;
		}
	}
	&.background--purple {
		&:hover,&:focus {
			box-shadow: 0 0 3px 2px $color-purple;
			background: $color-white;
			color: $color-purple;
		}
	}
}
.maze-button--danger {
	background: $color-black;
	border: 2px solid $color-red;
	color: $color-red;
	&:hover,&:focus {
		color: $color-black;
		background: $color-red;
		box-shadow: 0 0 4px 4px $color-red;
	}
}

/** Maze Objects **/
.maze-cell {
	width: 15px;
	height: 15px;
	outline: 1px solid rgb(187, 187, 187);
}
.maze-block {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 20;
	width: 30px;
	height: 30px;
	background: $color-green;
}


/*
	===== Maze Pathing ======
	35 Blocks from left to right path end
	37 Blocks full width container maze
	Maze Paths
	0-1 14 blocks
	1-2 13 blocks
	2-3 17 blocks
	3-4 13 blocks
	4-5 9 blocks
	5-6 21 blocks
	6-7 14 blocks
	7-finish 19 blocks
*/
.maze-path__path {
	display: block;
	position: absolute;
	opacity: .5;
	background: $color-yellow;
}
.maze-path__path--1 {
	width: 420px;
	height: 30px;
	top: 90px;
	left: 0;
}
.maze-path__path--2 {
	width: 30px;
	height: 390px;
	left: 390px;
	top: 90px;
}
.maze-path__path--3 {
	width: 510px;
	height: 30px;
	top: 450px;
	left: 390px;
}
.maze-path__path--4 {
	width: 30px;
	height: 390px;
	left: 870px;
	top: 90px;
}
.maze-path__path--5 {
	height: 30px;
	width: 270px;
	top: 90px;
	left: 630px;
}
.maze-path__path--6 {
	width: 30px;
	height: 630px;
	top: 90px;
	left: 630px;
}
.maze-path__path--7 {
	height: 30px;
	width: 420px;
	left: 630px;
	top: 690px;
}
.maze-path__path--8 {
	left: 1020px;
	width: 30px;
	height: 570px;
	top: 720px;
}

/** Maze Points **/
.maze-point__point {
	position: absolute;
	width: 90px;
	height: 30px;
	background: $color-black;
	z-index: 100;
	display: flex;
	justify-content: center;
	align-items: center;
}
.maze-point__point--small {
	width: 15px;
	height: 15px;
}
.maze-point__label {
	display: block;
	color: $color-white;
	font-size: 1.5rem;
	font-family: Arial;
}
.maze-point__point-external {
	display: block;
	position: absolute;
	left: 30px;
	top: 30px;
	width: 30px;
	height: 30px;
	background: $color-black;
}
.maze-point__point--1 {
	left: 360px;
	top: 90px;
}
.maze-point__point-external--1 {
	left: 390px;
	top: 120px;
}
.maze-point__point--2 {
	left: 390px;
	top: 420px;
	width: 30px;
	height: 90px;
}
.maze-point__point-external--2 {
	left: 420px;
	top: 450px;
}
.maze-point__point--3 {
	top: 450px;
	left: 840px;
}
.maze-point__point-external--3 {
	top: 420px;
	left: 870px;
}
.maze-point__point--4 {
	top: 60px;
	left: 870px;
	width: 30px;
	height: 90px;
}
.maze-point__point-external--4 {
	top: 90px;
	left: 840px;
}
.maze-point__point--5 {
	top: 90px;
	left: 600px;
}
.maze-point__point-external--5 {
	top: 120px;
	left: 630px;
}
.maze-point__point--6 {
	top: 660px;
	left: 630px;
	width: 30px;
	height: 90px;
}
.maze-point__point-external--6 {
	left: 660px;
	top: 690px;
}
.maze-point__point--7 {
	top: 690px;
	left: 990px;
}
.maze-point__point-external--7 {
	top: 720px;
	left: 1020px;
}

/** Maze Selector **/
.maze-selector {
	width: 30px;
	height: 30px;
	position: absolute;
	left: 0;
	top: 0;
	outline: 1px solid red;
	box-shadow: 0 0 2px 2px orange;
	background: rgba(0, 29, 83, 0.75);
	z-index: 150;
}

/** Helper Classes **/

.background--green {
	background: $color-green;
}
.background--red {
	background: $color-red;
}
.background--purple {
	background: $color-purple;
}
.background--blue {
	background: $color-blue;
}
.maze-divider {
	display: block;
	background: $color-black;
	margin: 15px auto;
	width: 270px;
	height: 4px;
}